:root {
  --silver-general: rgb(216, 216, 216);
  --silver-dark: rgb(90, 89, 89);
  --silver-text: rgb(133, 131, 131);
  --silver-light: rgb(236, 235, 235);
  --wihte-general: white;
  --wihte-general-shadow: rgba(255, 255, 255, 0.5);
  --blue-bugatti: rgb(47, 156, 245);
  --blue-bugatti-dark: rgb(9, 118, 207);
  --blue-bugatti-shadow: rgba(68, 166, 247, 0.6);
}
html {
  scroll-behavior: smooth;
}
/* Login style */
.login-body {
  background: var(--blue-bugatti);
}
.login-container {
  display: flex;
  flex-direction: column;
}
.login-container {
  padding-top: 30px;
  width: 500px;
  height: 600px;
  border-radius: 30px;
  margin: 100px auto;
  background: var(--wihte-general);
  text-align: center;
}
.login-container__form {
  margin: 50px;
}
.login-container__input {
  font-size: 1.3em;
  width: 300px;
  height: 10px;
  padding: 20px 10px 20px 40px;
  border: none;
  border-bottom: 1px solid black;
}
.input-login--up {
  margin-bottom: 70px;
}
.login-container__box-icono {
  position: absolute;
}
.login-container__input-icono {
  position: relative;
  font-size: 1.5em;
  left: 30px;
  top: 10px;
}

.login-container__input:focus,
.data-vehicle__input:focus {
  outline: none;
}
.input-login--down {
  margin-bottom: 100px;
}
.login-container__button-login {
  color: white;
  width: 350px;
  margin: 10px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid var(--blue-bugatti);
  background: var(--blue-bugatti);
}
.login-container__button-login:hover {
  background: var(--blue-bugatti-dark);
}
.login-container__button-login:active {
  box-shadow: 0 0 0 5px var(--blue-bugatti-shadow);
}
.login-container__link {
  margin-top: 10px;
}

/* index style */

.header,
.vehicle-registry {
  font-family: Helvetica, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: var(--blue-bugatti);
}
.header__logo {
  margin-left: 100px;
}

.vehicle-registry__begining a,
.header__link,
.header__link-logo,
.header__sub-link {
  text-decoration: none;
}
.header__link,
.header__link-logo {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--wihte-general);
}
.header__navbar {
  margin-right: 100px;
}
.header__menu,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  transition: transform 0.5s;
}
.header__list-menu,
.header__sub-list {
  list-style: none;
}
.header__sub-list {
  margin-top: 20px;
}
.header__list-menu {
  position: relative;
  margin-right: 50px;
  --clip: polygon(0 0, 100% 0, 96% 0, 0 0);
}
.header__list-menu:hover {
  cursor: pointer;
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header__sub-menu {
  position: absolute;
  list-style: none;
  transition: clip-path 0.5s;
  clip-path: var(--clip);
  right: -50px;
  top: 83px;
  background: var(--blue-bugatti);
  width: 200px;
  padding-bottom: 20px;
  border-radius: 0 0 10px 10px;
}
.header__sub-menu-width {
  width: 220px;
}
.header__sub-link {
  color: var(--wihte-general);
  font-size: 1.2em;
}

.header__link {
  margin: 25px;
  display: flex;
  align-items: center;
}
.header__link:hover,
.header__sub-link:hover {
  color: var(--silver-light);
}
.header-hambur-menu {
  display: none;
}
.vehicle-registry {
  padding-top: 50px;
  width: 100%;
  height: 750px;
  background: url(parkin.jpg) no-repeat top center;
  background-size: cover;
}
.vehicle-registry__title {
  width: 300px;
}
.vehicle-registry__title h1 {
  line-height: 1.5;
  font-size: 4em;
  margin-top: 150px;
  margin-left: 60px;
  color: var(--wihte-general);
}
.vehicle-registry__begining {
  margin-top: 50px;
  margin-left: 60px;
  text-align: center;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: 100px;
}
.data-vehicle__button,
.vehicle-registry__begining {
  border-radius: 10px;
  padding: 9px 10px;
  background: var(--blue-bugatti);
  color: var(--wihte-general);
  font-size: 1.5em;
}
.vehicle-registry__begining:hover,
.data-vehicle__button:hover {
  background: var(--blue-bugatti-dark);
}
.vehicle-registry__begining:active,
.data-vehicle__button:active {
  transform: translateY(5px);
}

.data-vehicle {
  margin-top: 100px;
}
.data-vehicle__title {
  text-align: center;
}
.data-vehicle__title h2 {
  margin: 100px auto;
  font-size: 2em;
  color: var(--silver-dark);
}

.data-vehicle__input,
.data-vehicle__selcect {
  width: 400px;
  margin: 20px;
  padding: 20px 20px;
  border: none;
  border-bottom: 2px solid var(--silver-general);
}
.data-vehicle__selcect-title,
.data-vehicle__input,
.data-vehicle__selcect {
  font-size: 1.5em;
  color: var(--silver-text);
}
.data-vehicle__selcect-title {
  margin-left: 20px;
}
.data-vehicle__selcect {
  padding-left: 5px;
}
.data-vehicle__selcect:focus {
  outline: none;
}
.data-vehicle__form-container {
  text-align: center;
}
.data-vehicle__form-container--select {
  margin-left: 9%;
}
.data-vehicle__button {
  border: none;
}
.data-vehicle__button--container {
  margin-top: -100px;
  margin-left: 700px;
}
.index-foter__container {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin: 200px auto 10px auto;
  width: 80%;
  border-top: solid 0.5px var(--silver-general);
  text-align: center;
}

/* Media query */
@media screen and (max-width: 1490px) {
  .vehicle-registry__title h1 {
    margin-top: 130px;
    margin-left: 30px;
  }

  .vehicle-registry__begining {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1472px) {
  .vehicle-registry__title {
    width: max-content;
  }
  .vehicle-registry__title h1 {
    margin-top: 580px;
    margin-left: 250px;
  }

  .vehicle-registry__begining {
    margin-left: 1030px;
    margin-top: -130px;
  }

  .data-vehicle__form-container {
    display: flex;
    flex-direction: column;
  }

  .data-vehicle__box-container {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1200px) {
  .vehicle-registry__title h1 {
    margin-left: 60px;
  }
  .vehicle-registry__begining {
    margin-left: 800px;
  }
  .header-hambur-menu {
    margin-right: 10px;
    display: block;
    padding: 3px 3px;
    font-size: 1.5em;
    color: var(--wihte-general);
    background: none;
    border: 2px solid var(--wihte-general);
    border-radius: 5px;
  }
  .header-hambur-menu:active {
    box-shadow: 0 0 0 3px var(--wihte-general-shadow);
  }
}
